* {
  box-sizing: border-box;
}

body {
  background-color: #FBEAEB;
  color: var(--textColor);
  transition: background-color 0.4s ease, color 0.4s ease;
  margin: 0;
}

/* This is for the NavBar */
nav {
  background-color: #2F3C7E;
  margin: auto 0;
  padding: 10px;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.other-links {
  font-size: large;
  display: flex;
  align-items: center;
}

.about {
  margin-left: 20px;
  margin-right: 20px;
}

main a {
  color: black;
  font-size: large;
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* This is for the Main content */
main {
  margin: auto 20px;
}

h1 {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 500px;
  height: auto;
  border: 1px solid red;
  border-radius: 10px;
}

.description {
  width: 550px;
  height: auto;
  margin: auto;
  text-align: center;
}

.description.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* This is for the Footer */
footer {
  margin-top: 50px;
}

.home {
  font-size: medium;
  display: flex;
  justify-content: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}